@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}

html {
  overflow-y: scroll;
}

body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
}

.main-body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 0;
}


#nav-bar {

    position: fixed;
    /* Ensures it stays in the normal workflow */
    z-index: 1000;
    /* Higher than the hero section which was overlapping it and removing the clickable effect */
    background-color: white;
    width: 100vw;

}

.nav-link {
    background: linear-gradient(to left, #2918e6, #6b28d0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background 0.3s ease;
}


.active {
    background: linear-gradient(to left, #2918e6, #6b28d0) !important;
    color: white !important;
}


.nav-link:hover {
    background: linear-gradient(to right, #2918e6, #6b28d0, #b306e8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background 0.3s ease;
}

nav {
    z-index: 1000;
}

.nav-item{
    min-width: 75px;
}
.nav-link{
    padding-left: 0px;
    padding-right: 0px;
}

.creative-font {
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
}
#hero-section{
    padding-top: 150px;
    background: linear-gradient(to left, #2918e6, #6b28d0) !important;
    height: 35rem;
}
.hero_div>* {
    color: white;
}

.thank-you-message {
    display: none;
    color: green;
    font-size: 20px;
    margin-top: 20px;
}

.container {
    position: relative;
    z-index: 10;
    /* Bring form to the front */
}

.form-group {
    position: relative;
    z-index: 10;
}

.text-colour {
    background: linear-gradient(to left, #2918e6, #6b28d0);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    /*Clip the background so it only shows inside the text itself.*/
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.progress-bar-colour {
    background: linear-gradient(to left, #2918e6, #6b28d0);
    z-index: 0;
}


#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.gradient-btn {
    background: linear-gradient(to left, #2918e6, #6b28d0);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;

}

/* Hover effect */
.gradient-btn:hover {
    background: linear-gradient(to left, #6b28d0, #2918e6);
    opacity: 0.8;
    color: white;
}

.gradient-btn:active {
    background: linear-gradient(to left, #2918e6, #6b28d0);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    color: white !important;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.card {
    background-color: transparent !important;
}

footer{
    background: linear-gradient(to left, #2918e6, #6b28d0) !important;
    color:#fff !important;
}